.backimg{
    background-image: url(../images/home-header.png);
    height: 787px;
    background-size: cover; 
}
.backimg-text{    
    color: $color-4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    p{
        font-size: 36px;
        line-height: 54px;
    }
    h2{
        font-size: 64px;
        line-height: 96px;
        font-weight: 700;
    }
    .btn{        
        background-color:$color-1;
        border: none;        
        a{            
            display: block;
            font-size: 20px;
            line-height: 30px;
            color:#fff;
            text-decoration: none;
            padding: 6px 12px;
        }        
    }
    .btn:hover{
        background-color: $color-4;
    }
}
.feature{
    background-color: #FBF2F2;
    h3{
        font-size: 48px;
        line-height: 72px;
        font-weight: 700;
        color: $color-4;
        text-align: center;
        margin-bottom: 24px;
        padding-top: 80px;
    }
    .feature-iteams{
        display: flex;   
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 80px;
    }
    .f-iteam{
        width: 24%;    
        .f-img{
            text-align: center;
            margin-bottom: 16px;
        }
        img{
            width: 100px;            
        }
        h4{
            color: $color-4;
            text-align: center;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 8px;
            font-weight: 700;            
        }
        p{
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.classic{
    h3{
        font-size: 48px;
        line-height: 72px;
        font-weight: 700;
        color: $color-1;
        text-align: center;
        margin-bottom: 24px;
        padding-top: 80px;
    }
    .classic-iteams{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 80px;        
    }
    .c-iteam{
        width: 32%;
        img{
            opacity: 0.8;
        }
        img:hover{
            opacity: 1;
        }
        a{
            display: block;
            font-size: 48px;
            line-height: 72px;
            font-weight: 900;
            font-style: italic;
            text-align: center;
            color: $color-1;
            text-decoration: none;
            transition:all 0.7s ease-in-out
        }
        a:hover{
            color: $color-4;
            transform:scale(1.2)
        }
    }
}

.feat{
    background-image: url(../images/index-bg.png);
    height: 608px;
    background-size:cover;
    h3{
        font-size: 48px;
        line-height: 72px;
        font-weight: 700;
        color:#fff;
        text-align: center;
        margin-bottom: 40px;
        padding-top: 80px;
    }
    .feat-iteams{
        display: flex;
        flex-wrap: wrap
    }
    .feat-iteam{
        width: 50%;
    }
    .bgimg-left{
        background-image: url(../images/home-section4-1.png);
        height: 240px;        
        background-size: cover;
        opacity: 0.7;
    }
    .bgimg-left:hover{
        opacity: 1;
    }
    .bgimg-right{
        background-image: url(../images/home-section4-2.png);
        height: 240px;
        background-size: cover;
        opacity: 0.7;
    }
    .bgimg-right:hover{
        opacity: 1;
    }
    li{
        background-color: #fff;
        text-align: center;
        a{
            display: block;
            font-size: 48px;
            line-height: 72px;
            font-weight: 900;
            font-style: italic;
            text-decoration: none;
            color: $color-1;
            padding: 8px 0;    
            transition:all 0.7s ease-in-out        
        }
        a:hover{
            color: $color-4;
            transform:scale(1.2)
        }
    }
}
.recommend{
    h3{
        font-size: 48px;
        line-height: 72px;
        font-weight: 700;
        color: $color-4;
        text-align: center;
        margin-bottom: 48px;
        padding-top: 80px;
    }
    .recommend-iteams{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    .r-iteam{
        width: 24%;
        box-shadow:#00000029 0px 2px 6px;
        border-radius: 5px;
        border: 1px solid #DEE2E6;
        transition:all 0.3s ease-in;
        .text-p{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 16px;
            line-height: 24px;
            height: 206px;
            padding: 16px;
        }
        .date{
            font-size: 14px;
            color: #707070;
        }
    }
    .r-iteam:hover{
        transform:translate(0,-20px)
    }
    
}
.contact-form{
    background-color: $color-2;
    .form{
        width: 636px;
        padding-bottom: 80px;
    }
    h3{
        font-size: 48px;
        line-height: 72px;
        font-weight: 700;
        color: $color-4;
        text-align: center;
        margin-bottom: 48px;
        padding-top: 80px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
    }
    label{
        display: block;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    input{
        display: block;
        width: 100%;
        line-height: 36px;
        font-size: 16px;
        padding-left: 12px;
        background-color: $color-2;
        border: 1px solid #000;
        margin-bottom: 16px;
    }
    textarea{
        display: block;
        background-color: $color-2;
        border: 1px solid #000;
        width: 100%;
        line-height: 36px;
        font-size: 16px;
        padding-left: 12px;
        height: 136px;
        resize: none;
    }
    .check{
        display: flex;
        margin-top: 16px;
        input{
            width: 24px;
            height: 24px;
            margin: 0;
            margin-right: 8px;
        }
        label{
            font-size: 16px;
            line-height: 24px;
        }
    }
    .send-btn{
       text-align: center;
       margin-top: 48px;       
        button{
            font-size: 16px;
            line-height: 24px;
            padding: 16px 176px;
            background-color: $color-1;
            border: none;
            color: white;
       }
        button:hover{
        background-color: $color-4;
        cursor: pointer;
        }

    }

}


// RWD

@media(max-width:992px){
    .backimg{
        background-image:url(../images/home-header-sm.png);
    }
    .feature .f-iteam{
        width: 48%;
    }
    .classic .c-iteam{
        width: 65%;
        margin: 0 auto;
        margin-bottom: 24px;   
    }
    .feat{
        background-image: url(../images/index-bg-sm.png);
        height: 960px;
        .feat-iteam {
            width:100%;
            margin-bottom: 24px;
        }
    }
    .recommend .r-iteam{
        width: 48%;
        margin-bottom: 24px;
    }
    .contact-form{
        h3{
            margin-bottom: 24px;
        }
        .send-btn button{
            padding: 16px 136px;
        }
    }
}

@media(max-width:767px){
    .backimg{
        height: 396px;
        background-position:center ;
        p{
            font-size: 16px;
            line-height: 24px;            
        }
        h2{
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 0;
        }
    }
    .feature{
        .feature-iteams{
            padding-bottom: 40px;
        }
        .f-iteam{
            width: 100%;
        }
        h3{
            font-size: 24px;
            line-height: 36px;
            padding-top: 40px;
            margin-bottom: 24px;
        }
    } 
    .classic{
        .c-iteam{
            width: 100%;
        } 
        .classic-iteams{
            margin-bottom: 40px;
        }
        h3{
            font-size: 24px;
            line-height: 36px;
            padding-top: 40px;
            margin-bottom: 24px;
        }
    }
    .feat{
        height: 820px;
        .bgimg-left{
            background-image: url(../images/home-section4-1-sm.png);
            height: 240px;
            background-size: cover;
        }
        .bgimg-right{
            background-image: url(../images/home-section4-2-sm.png);
            height: 240px;
            background-size: cover;
        }
        h3{
            font-size: 24px;
            line-height: 36px;
            padding-top: 40px;
            margin-bottom: 24px;
        }
    }   
    .recommend{
        .r-iteam{
            width: 100%;           
        }
        .recommend-iteams{
            margin-bottom: 40px;
        }
        h3{
            font-size: 24px;
            line-height: 36px;
            padding-top: 40px;
            margin-bottom: 24px;
        }
    }
    .contact-form{
        .form{
            padding-bottom: 40px;
        }
        h3{
            padding-top: 40px;

        }
        p{
            font-size: 16px;
            line-height: 24px;

        }
        .send-btn{
            margin-top: 24px;                  
            button{
                width: 100%;  
                padding: 16px 0;          
            }
        }
       
    }
}